<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="HVAC Template">
    <meta name="keywords" content="HVAC, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HVAC | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="wwwroot/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="wwwroot/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="wwwroot/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="wwwroot/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="wwwroot/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="wwwroot/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="wwwroot/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="wwwroot/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="wwwroot/css/style.css" type="text/css">
    <style type="text/css">
        .car_item th:first-child {
            float: left;
        }

        .car_item th:last-child {
            float: right;
        }

        .car_item td:first-child {
            float: left;
        }

        .car_item td:last-child {
            float: right;
        }

        .header__nav__widget__btn {
            display: inline-block;
            position: relative;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 30em;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            right: -130px;
            top: 50px;
        }

            .dropdown-content h1 {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

        .header__nav__widget__btn:hover .dropdown-content {
            display: block;
        }
    </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__widget">
            <a href="#"><i class="fa fa-cart-plus"></i></a>
            <a href="#" class="search-switch"><i class="fa fa-search"></i></a>
            <a href="#" class="primary-btn">Add Car</a>
        </div>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <ul class="offcanvas__widget__add">
            <li><i class="fa fa-clock-o"></i> Week day: 08:00 am to 18:00 pm</li>
            <li><i class="fa fa-envelope-o"></i> Info.colorlib@gmail.com</li>
        </ul>
        <div class="offcanvas__phone__num">
            <i class="fa fa-phone"></i>
            <span>(+12) 345 678 910</span>
        </div>
        <div class="offcanvas__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
   @await Html.PartialAsync("~/Views/Shared/Header.cshtml");
    <!-- Header Section End -->
    @RenderBody()
    <!-- Footer Section Begin -->
  @await Html.PartialAsync("~/Views/Shared/Footer.cshtml");
    <!-- Footer Section End -->
    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <!-- Js Plugins -->
    <script src="wwwroot/js/jquery-3.3.1.min.js"></script>
    <script src="wwwroot/js/bootstrap.min.js"></script>
    <script src="wwwroot/js/jquery.nice-select.min.js"></script>
    <script src="wwwroot/js/jquery-ui.min.js"></script>
    <script src="wwwroot/js/jquery.magnific-popup.min.js"></script>
    <script src="wwwroot/js/mixitup.min.js"></script>
    <script src="wwwroot/js/jquery.slicknav.js"></script>
    <script src="wwwroot/js/owl.carousel.min.js"></script>
    <script src="wwwroot/js/main.js"></script>
</body>

</html>