<script>
    //fetch('https://localhost:44393/api/Brand/Index', {})
    //    .then(response => response.json())
    //    .then(json => console.log(json))
    //$('#result').html(res);
    //fetch('https://localhost:44393/api/Category/Index')
    //    .then(res => res.json())
    //    .then(res => {
    //        res.data.map(brand => {
    //            console.log(`${brand.id}: ${brand.name}`);
    //        });
    //    });
</script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JSON Test</title>
</head>
<body>
    <div id="myData"></div>
    <script>
        fetch('https://dog.ceo/api/breeds/image/random', {})
            .then(function (response) {
                return response.json();
                console.log(response.json())
            })
            .then(function (data) {
                appendData(data.message);
                //console.log(data.mastiff)
            })
            .catch(function (err) {
                console.log('error: ' + err);
            });
        function appendData(data) {
            var mainContainer = document.getElementById("myData");
            for (var i = 0; i < data.length; i++) {
                var div = document.createElement("div");
                div.innerHTML = 'ID: ' + data[i].id + '---' + 'Name: ' + data[i].name;
                img.innerHTML = '<img src="' + data[i].message +'"/>';
                //mainContainer.appendChild(div);
                mainContainer.appendChild(img);
            }
        }
    </script>
</body>
</html>